<html>
  <head>
    <title></title>
  </head>
  <body>
  	<h1>Voici la page du potin n°<%= params[:id] %></h1>
    <h3>Son auteur : <%= gossips[1]%></h3>
		<h3>Le contenu du potin : <%= gossips[2]%></h3>
		<h3><a href="/">index</a><br/></h3>
  </body>
</html>
